.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
nul
.R1environ
inst/rmarkdown/test.html
inst/rmarkdown/test.pdf
inst/rmarkdown/test.Rmd
inst/rmarkdown/test.aux
inst/rmarkdown/test.log
inst/rmarkdown/test.lot
inst/rmarkdown/test.out
inst/rmarkdown/test.toc
inst/rmarkdown/tb.tex
inst/rmarkdown/ta.tex
inst/rmarkdown/test.tex
